@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 930px) {
  body {
    margin-top: 5rem;
    height: inherit;
  }
}
